/*
Author:  nerDevelopment
Project: Crfty Hops
Date: 11/6/12
*/

/* Style Guide
	html background color  #411a0a
	header background color #2f0c02
	font color #f0ece9
*/

/*----------------Fonts----------------------------*/

/*----------------General Styles------------------*/
	html { 
  	background: url(../img/bg.png) ; 
	  /*	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;*/
	  	color: #f0ece9;
	  	overflow-x: hidden;
	  }
	  
	  body{
	  	overflow-x: hidden;
	  }
	  
	  .container {
	      width: 100%;
	      margin: 0 auto;	  
	      float: left;    
	  }
	  #sidenav{
	  	float: right;
	  }
	  
	li{
		list-style-type: none;
	}
	
	a{
		color: #f0ece9;
	}
	  
	p, h1, form{
	border: 0; 
	margin: 0; 
	padding: 0;
	}

	.clear{
		clear: both;
	}	
	
	.sideImg{
		float: left;
	}
	
	body, img {
	  -moz-user-select: none;
	  -webkit-user-select: none;
	  -webkit-user-drag: none;
	}
			
/*----------------Header  and navigation Styles------------------*/

	header{
		padding-bottom: 5em;
		background-color: #2f0c02;
	}
	
	#headerContent{
		width: 80%;
		margin:  0 auto;	
		padding-top: 3em;
	}

		#logo{
			background: url(../images/logo.png) no-repeat;
			height: 63px;
			width:264px;
			margin: 0 ;
			float: left;
		}
		
		#logo a{
			text-indent: -9999px;
			display: block;
			height: 63px;
			width:264px;
			padding: 0;
		}
		
		#logoPos{
			padding-left: 1.5em;
		}
		#mainNav  li a{
			font-size: 1.5em;
			font-family: Luxi-Sans;
			text-decoration: none;
			letter-spacing: 0.04em;
			padding: 0;
		}
		
		nav ul{
			padding: 0;
			margin: 0;
		}
		#mainNav  li{
			display: inline;
			padding-right: 1.5em;
		}

		#mainNav {
			float: right;
			padding-top: 1em;
			padding-right: 1.5em;
		}
		
		#sidenav li a{
			font-size: 1.5em;
			text-decoration: none;
			height: 30em;
		}
		

	[role="complementary"], [role="main"] {
		width: 80%; 
		padding: 0 15px; 
		display: block; 
		position: relative; 
		z-index: 1; 
		-webkit-transition: 0.25s all ease-in; 
		-moz-transition: 0.25s all ease-in; 
		-o-transition: 0.25s all ease-in; 
		transition: 0.25s all ease-in; 
		background: url('../img/wild_oliva.png');
	}
	
	[role="complementary"] { 
		width: 30%; 
		margin-right: -35%;
		float: right; 
		z-index: 2; 
		height: 65em;
	}
	
	.active [role="complementary"] { 
		margin-right: -1%;
	}
	
	.active .container{
		width: 65%;
	}

/*----------------Global Styles------------------*/
.notamember{
	background-color: #a09489;
	width: 50%;
	margin:  0 auto;
	border-radius: .3em;
	padding: .5em;
}
.notamember p{
	font-size: 1.5em;
	text-align: center;
}

.membercontent{
	text-align: center;
}

.navbtn{
	background: url(../img/menu.png) no-repeat;
	width: 40px;
	height: 36px;
	float: right;
	border: none;
	display: none;
	text-indent: -9999px;
}

.navbtn a{
	text-indent: -9999px;
	width: 40px;
	height: 36px;
	display: block;
}

/*----------------Home Styles------------------*/
.tagLine{
	font-size: 2.5em;
	text-align: center;
 }
 
 .subParagraph{
 	font-size: 1.3em;
 	font-family:Greyscale-Basic;
 	text-align: left;
 	padding-top: .5em;
 	width: 80%;
 	margin: 0 auto;
 }

.textShadow{
	text-shadow: 4px 1px 2px rgba(27, 7, 2, 1);
	font-weight: bold;
	font-family: Luxi-Sans;
}

.sudggestInput {
	border-radius: .3em;
	font-size: 2.5em;
	width: 80%;
	background-color: #5e2709;
	border-color: #582408;
}

.promoContent{
width: 60%;	
padding-top: 2em;
padding-bottom: 5em;
margin: 0 auto;
}

.posInput ul span{
	font-size: 2em; 
	position: relative; 
	right: .1em; 
	color: #300d01;
text-shadow: -2px -2px #250e02;	
}

.btnPos{
	width: 14em;
	margin:  1.5em auto;
}


.findBtn{
	background: #e99d4a; /* Old browsers */
	background: -moz-linear-gradient(top,  #e99d4a 45%, #e57d40 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#e99d4a), color-stop(100%,#e57d40)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e99d4a 45%,#e57d40 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e99d4a', endColorstr='#e57d40',GradientType=0 ); /* IE6-9 */
	border: #c9480f;
	border-radius: .1em;
	padding: .3em 1em;
	font-size: 2em;
	color: #ffffff;
	text-shadow: 8px 1px 6px rgba(200, 76, 34, 1)
}


.section{
	background: #2f0c02;
	width: 100%;
}

.reasons h3{
	font-size: 2em;
	font-family: Luxi-Sans;
	text-shadow: 3px 0px 2px rgba(27, 7, 2, 1);
}

.reasons p{
	width: 50%;
	padding-right: 1.5em;
	border-right: 1px inset #411a0a ;
	height: 10em;
	float: right;
	
}
/*----------------Form Styles------------------*/

#addBeer li, #register li, #login li{
	margin-bottom: 1em;
	font-size: 1.3em;
}

.titles{
	float: left;
	width: 15%;
}

#register .titles{
	width: 10em;
}

.fields{
	float: right;
}

.fields input{
	border-radius: .2em;
	width: 60%;
}

.colorized{
	background-color: #5e2709;
	border-color: #582408;
}

.twoCol{
	width: 40%;
	margin: 0 auto;
}

#register .fields input{
	width: 40%;
}

.file{
	width: 65%;
}

#or{
	padding: 0;
	margin: 0;
}

.fbbutton{
	position: relative;
	right: 8.5em;
}

/*----------------Footer Styles------------------*/

footer a{
	text-decoration: underline;
	display: inline;
}

footer li{
	display: inline;
	padding-right: 3em;
}
/*----------------Media queries------------------*/
@media screen and (max-width: 1024px) {
	.promoContent{
	padding-top: 3.5em;
	width: 90%;
	}
	
	.btnPos{
		width: 15em;
	}
		
}

@media screen and (max-width:1024px){
	#mainNav{
		display: none;
	}
	.navbtn{
		display: inline-block;
	}
}

@media all and (min-width: 1024px) { 
	menu-button, .sidebar-button {
	 	display: none; 
	 }
	 
  .hide-extras [role="complementary"] { 
  	display: none; 
  	}
}  


@media screen and (max-width: 768px) {
	
	.promoContent{
	padding-top: 3.5em;
	}
	
	.twoCol{
		width: 70%;
	}
	
	.findBtn{
		width: 7em;
	}
	.btnPos{
		width: 14em;
	}

	
}

@media screen and (max-width: 640px) {
	
	.findBtn{
		font-size: 2em;
		width: 80%;
		margin-left: .1em;
	}
	
	.reasons{
		width: 70%;
		margin:  0 auto;
	}
	
	.reasons p{
		border: none;	
		width: 70%;
		height: 15em;
	}
	
	footer li{
		padding: 0;
		display: block;
	}

	.titles{
		margin-right: 1.5em;
	}
	
	#register .twoCol{
		width: 80%;
	}
	
	#register .titles{
		width: 7em;
	}
	
	.grid-4  li{
		margin-left: .5em;
		margin-top: 1em;
	}
	
	.findBtn{
		width: 7em;
	}
	.btnPos{
		width: 17em;
	}
	
	.subParagraph{
		width: 90%;
	}
	
	.promoContent {
		padding-bottom: 1em;
	}
	
}
@media screen and (max-width: 480px){
	.findBtn{
		width: 7em;
	}
	
	.twoCol{
		width: 90%;
	}
	
	.titles{
		margin-right: 2.0em;
	}
	
	#register .twoCol{
		width: 100%;
	}
	#register .titles{
		width: 7em;
	}
	
	[role="complementary"] { 
		width: 35%; 
		margin-right: -45%;
		
	}	
	.active .container{
		width: 55%;
	}
	
}	

	@media screen and (max-width: 320px){
		#headerContent{
			width: 80%;
		}
		
		#logo{
			background-size: 150px 50px;  	
			height: 50px;
			width: 150px;
		}
		
		#logo a{
			height: 50px;
			width: 150px;
		}
		
		.promoContent{
		width: 90%;
		}
		
		.findBtn{
			width: 7em;
		}
		.btnPos{
			width: 14em;
		}
		
		.reasons{
			width: 80%;
			margin:  0 auto;
		}
		
		.reasons p{
			border: none;	
			width: 50%;
		}
		
		
		.titles{
			margin-right: 1.0em;
		}
		#register .twoCol{
			width: 100%;
		}
		
		#register .titles{
			width: 6em;
		}
		
		[role="complementary"] { 
			width: 60%; 
			margin-right: -70%;
		}	
		
		.active .container{
			width: 20%;
		}
}
