/*----------------------------------------INFORMATION------------------------------
Author:  nerDevelopment
Project: Crfty Hops
Date: 12/11/2012

    LAST UPDATE
Author: Rach
Time: 12:10 pm

    STYLE GUIDE
HTML background color: #411a0a
Header background color: #2f0c02
Font color: #f0ece9

    FONTS
Crafty Hops - Blackjack
Quality Tast - Quaver Serif
Nav - Cubano
nerDevelopment - Myriad
Content - Quaver Sans (Letter Spacing = 1px)
Titles/Headings - Cudano
--------------------------------------------------------------------------------*/

/*----------------------------FONTS-----------------------------*/
@font-face {
    font-family: 'quaver_sans';
    src: url('../fonts/Quaver/quaversans-webfont-webfont.eot');
    src: url('../fonts/Quaver/quaversans-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quaver/quaversans-webfont-webfont.woff') format('woff'),
         url('../fonts/Quaver/quaversans-webfont-webfont.ttf') format('truetype'),
         url('../fonts/Quaver/quaversans-webfont-webfont.svg#quaver_sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cubano';
    src: url('../fonts/Cubano/cubano-regular-webfont.eot');
    src: url('../fonts/Cubano/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cubano/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/Cubano/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/Cubano/cubano-regular-webfont.svg#cubano') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------GENERAL-----------------------------*/
html{ 
	background: url(../img/bg.png) ; 
	color: #f0ece9;
	overflow-x: hidden;
 }
	  
body{
	overflow-x: hidden;
}

body, img{
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}
	  
li{
	list-style-type: none;
}
	
a{
	color: #f0ece9;
	outline: none;
}
	  
p, h1, form{
	border: 0; 
	margin: 0; 
	padding: 0;
}

.clear{
	clear: both;
}	
	
.sideImg{
	float: left;
}

.container{
	width: 100%;
	margin: 0 auto;	  
	float: left;    
}

#sidenav{
	float: right;
}

#addBeer .grid-4, .grid-one-third {
  width: 29.5%;
}


.three{
	width: 320px; 
	float: right;
}



#rea{
	margin-left: 10em;
}

#rea:first-child{
	float: left;
}

.text{
	margin-top: 5em;
}

#home .section{
	height: 19.5em;
}

/*----------------------------------GLOBAL---------------------------*/
.notamember, #succesMess{
	background-color: #a09489;
	width: 50%;
	margin:  0 auto;
	border-radius: .3em;
	padding: .5em;
}

.notamember p, #succesMess p{
	font-size: 1.5em;
	text-align: center;
}

.membercontent{
	text-align: center;
}

.info li{
	list-style-type: lower-roman;
}

.info ol{
	width: 50%;
	margin: 0 auto;
}
			
/*---------------------------HEADER & NAV-----------------------------*/
header{
	padding-bottom: 5em;
	background-color: #2f0c02;
}

.circle{
  position: relative;
  margin: 0 1px 0 1px;
}

.circle::after{
  content: "";
  background: #e9dcdc; /* Old browsers */
  background: -moz-linear-gradient(top,  #e9dcdc 0%, #998c89 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9dcdc), color-stop(99%,#998c89)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e9dcdc 0%,#998c89 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e9dcdc 0%,#998c89 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e9dcdc 0%,#998c89 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #e9dcdc 0%,#998c89 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9dcdc', endColorstr='#998c89',GradientType=0 ); /* IE6-9*/
  height: .9em;
  border-radius: 5em;
  width: .9em;
  position: absolute;
  top: 1px;
  right: 1px;
}
	
#headerContent{
	width: 80%;
	margin: 0 auto;	
	padding-top: 3em;
}

#logo{
	background: url(../img/logo.png) no-repeat;
	height: 265px;
	width: 258px;
	margin: 0 ;
	float: left;
}
		
#logo a{
	text-indent: -9999px;
	display: block;
	height: 265px;
	width:258px;
	padding: 0;
}
		
#logoPos{
	padding-left: 3.1em;
	position: absolute;
}

#mainNav li a{
	font-size: 1.5em;
	font-family: cubano, Helvetica, Arial;
	text-decoration: none;
	letter-spacing: 0.04em;
	padding: 0;
}
		
nav ul{
	padding: 0;
	margin: 0;
}

#mainNav li{
	display: inline;
	padding-right: 1.5em;
}

#mainNav{
	float: right;
	padding-top: 1em;
	padding-right: 4em;
}
		
#sidenav li a{
	font-size: 1.5em;
	text-decoration: none;
	height: 30em;
}
		
/*------------------------------SIDE BAR-----------------------------------*/
.navbtn{
	background: url(../img/menu.png) no-repeat;
	width: 40px;
	height: 36px;
	float: right;
	border: none;
	display: none;
	text-indent: -9999px;
}

.navbtn a{
	text-indent: -9999px;
	width: 40px;
	height: 36px;
	display: block;
}

[role="complementary"], [role="main"] {
	width: 80%; 
	padding: 0 15px; 
	display: block; 
	position: relative; 
	z-index: 1; 
	-webkit-transition: 0.25s all ease-in; 
	-moz-transition: 0.25s all ease-in; 
	-o-transition: 0.25s all ease-in; 
	transition: 0.25s all ease-in; 
	background: url('../img/wild_oliva.png');
}
	
[role="complementary"] { 
	width: 30%; 
	margin-right: -35%;
	float: right; 
	z-index: 2; 
	height: 65em;
}
	
.active [role="complementary"] { 
	margin-right: -1%;
}
	
.active .container{
	width: 65%;	
}

/*------------------------------HOME PAGE-------------------------------*/
.tagLine{
	font: 2.4em cubano, Helvetica, Arial;
}
 
.subParagraph{
 	font: 1.3em quaver_sans, Helvetica, Arial;
 	letter-spacing: 1px;
 	padding-top: .5em;
 	text-align: left;
 	width: 99%;
 }

.textShadow{
	text-shadow: 4px 1px 2px rgba(27, 7, 2, 1);
	font-weight: bold;
}

.sudggestInput{
	border-radius: .3em;
	font-size: 2.5em;
	width: 70%;
	background-color: #5e2709;
	border-color: #582408;
	color: #ccb9a2;
	outline: none;
	text-indent: .2em;
}

.promoContent{
	padding-top: 2em;
	padding-bottom: 5em;
	margin: 0 auto;
	width: 60%;
	padding-left: 9em;
}

.posInput span{
	font-size: 2em; 
	position: relative; 
	right: .1em; 
	color: #ccb9a2;
	text-shadow: -2px -2px #250e02;	
}

.posInput{
	padding-left:  15em;
}

.btnPos{
	width: 14em;
	margin:  1.5em auto;
}

.findBtn{
	background: #e99d4a; /* Old browsers */
	background: -moz-linear-gradient(top,  #e99d4a 45%, #e57d40 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#e99d4a), color-stop(100%,#e57d40)); /*Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e99d4a 45%,#e57d40 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e99d4a', endColorstr='#e57d40',GradientType=0 ); /* IE6-9*/
	border: #c9480f;
	border-radius: .1em;
	padding: .3em 1em;
	font: 1.9em cubano, Helvetica, Arial;
	color: #fff;
	text-shadow: 8px 1px 6px rgba(200, 76, 34, 1);
	margin-left: -.6em;
	text-align: center;
}

.section{
	background: #2f0c02;
	width: 100%;
}

.reasons h3{
	font: 2em cubano, Helvetica, Arial;
	text-shadow: 3px 0px 2px rgba(27, 7, 2, 1);
}

.reasons p{
	width: 68%;
	padding-right: 1.5em;
	height: 10em;
	float: right;
	font: 1.3em quaver_sans, Helvetica, Arial;
	letter-spacing: 1px;
}

/*------------------------------SUGGESTIONS PAGE-------------------------------*/
#suggestion h3{
  padding-left: 11em;
  font: 2em cubano, Helvetica, Arial;
  text-shadow: 3px 0px 2px rgba(27, 7, 2, 1);
}

.suggestedContainer{
  margin: 0 auto;
  width: 825px;
}

#suggestion figure{
  float: left;
  padding: 0 0 5em 5em;
}

#suggestion figure img{
  border: #d3c5c6 5px solid;
  /*
-webkit-box-shadow:  1px 1px 2px 3px #2f0c02;
  box-shadow:  1px 1px 2px 3px #2f0c02;
*/
}

#suggestion figcaption{
  font: 1.3em quaver_sans, Helvetica, Arial;
	letter-spacing: 1px;
	text-align: center;
}

/*------------------------------DETAIL PAGE-------------------------------*/
#detail h3{
  padding-left: 11em;
  font: 2em cubano, Helvetica, Arial;
  text-shadow: 3px 0px 2px rgba(27, 7, 2, 1);
}

#detail figure{
  padding-left: 24em;
}

#detail figure img{
  float: left;
}

#detail figcaption{
  font: 1.3em quaver_sans, Helvetica, Arial;
	letter-spacing: 1px;
	width: 75%;
	position: relative;
	left: 20px;
}

#detail ul{
  margin-left: 21.5em;
}

#detail li{
  display: inline;
  font: 1.3em quaver_sans, Helvetica, Arial;
	letter-spacing: 1px;
	margin-right: 4em;
}
/*-------------------------------FORMS------------------------------*/
#addBeer li, #registerPage li, #login li{
	margin-bottom: 1em;
	font: 1.3em cubano, Helvetica, Arial;
	letter-spacing: 1px;
}

#addBeer p{
	text-align: left;
	font: 1.3em quaver_sans, Helvetica, Arial;
	letter-spacing: 1px;
}

#addBeer h3{
	font: 2em cubano, Helvetica, Arial;
	margin: .5em;
}

.titles{
	float: left;
	width: 6em;
	color: #ccb9a2;
}

#registerPage .titles{
	width: 10em;
}

.fields{
	float: right;
	margin-top: 5em;
}

.submit{
  background: #e99d4a; /* Old browsers */
	background: -moz-linear-gradient(top,  #e99d4a 45%, #e57d40 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#e99d4a), color-stop(100%,#e57d40)); /*Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e99d4a 45%,#e57d40 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e99d4a 45%,#e57d40 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e99d4a', endColorstr='#e57d40',GradientType=0 ); /* IE6-9*/
	border: #c9480f;
	border-radius: .2em;
	padding: .2em .2em;
	font: 1.3em cubano, Helvetica, Arial;
	color: #fff;
	text-shadow: 8px 1px 6px rgba(200, 76, 34, 1);
	margin-left: 4em;
	text-align: center;
	width: 34%
}

.titles input{
	border-radius: .2em;
	width: 60%;
	font-size: 1.3em;
}

.colorized{
	border-radius: .3em;
	font-size: 1.5em;
	width: 50%;
	background-color: #5e2709;
	border-color: #582408;
	color: #ccb9a2;
	outline: none;
	text-indent: .2em;
}

#registerPage .fields input{
	width: 48%;
}

.file{
	width: 65%;
}

#or{
	padding: 0;
	margin: 0;
}

.fbbutton{
	position: relative;
	right: 8.5em;
}

.info p:last-child{
	margin-top: 1em;
	margin-bottom: 1em;
}

.info{
	 width: 37%; 
}

#addForm{
	margin-left: 11em;
}

/*----------------------------------------FOOTER--------------------------------------*/
footer{
	clear: both;
	font-family: Myriad, "Times New Roman", serif;
	padding: .1em 0 0 1em;
}

footer a{
	text-decoration: underline;
	display: inline;
}

footer li{
	display: inline;
	padding-right: 3em;
}

/*--------------------------------------------MEDIA QUERIES---------------------------------*/
@media screen and (max-width: 1200px) {
	.promoContent {
	width: 56%;
	padding-left: 19em;
	}
	
	.posInput{
		padding-left: 22em;
	}
	
}

@media screen and (max-width: 1024px) {
	
	.btnPos{
		width: 15em;
	}
	

	.active #registerPage .titles{
		width: 6em;
	}
	
	
	#suggestBeer{
		padding: 1em 2em 2em;
	}
	
	
	.posInput{
		padding-left: 17em;
	}
	
	#addForm {
	margin-left: 19em;
	}
	.info {
	width: 46%;
	}
	.submit {
	margin-left: 2em;
	}
}	

@media screen and (max-width:1024px){

	#mainNav{
		display: none;
	}
	.navbtn{
		display: inline-block;
	}
}

@media all and (min-width: 1024px) { 
	menu-button, .sidebar-button {
	 	display: none; 
	 }
	 
  .hide-extras [role="complementary"] { 
  	display: none; 
  	}
}  

@media screen and (max-width: 768px) {
	.promoContent{
	padding-top: 3.5em;
	}
	
	.findBtn{
		width: 7em;
	}
	
	.btnPos{
		width: 14em;
	}
	
	.fields input {
	width: 55%;
	}
	
	#logo{
		background-size: 225px 218px;  	
		height:225px ;
		width: 218px;
	}
		
	#logo a{
		height:225px ;
		width: 218px;
	}
	
	#addBeer .container {
	padding-top: 13em;
	}
	
	.posInput{
		padding-left: 0;
	}
	#addForm{
		margin: 0;
	}
	.info {
	width: 43%;
	}
}

@media screen and (max-width: 640px) {
	#suggestBeer {
	padding: 1em 4em;
	}
	
	.findBtn{
		font-size: 2em;
		width: 9.7em;
		margin-left: -1.9em;
	}
	
	.reasons{
		width: 70%;
		margin:  0 auto;
	}
	
	.reasons p{
		border: none;	
		width: 70%;
		height: 15em;
	}
	
	footer li{
		padding: 0;
		display: block;
	}

	.titles{
		margin-right: 1.5em;
	}

	
	#registerPage .titles{
		width: 7em;
	}
	
	.grid-4  p{
		margin-left: .5em;
		margin-top: 1em;
	}
	
	.btnPos{
		width: 17em;
	}
	
	.subParagraph{
		width: 90%;
	}
	
	.promoContent {
		padding: 11em 3em 0  3em;
		width: 95%;
		margin: 0;
	}
	
	.container{
		padding-top: 1em;
	}
	
	#logo{
		background-size: 185px 178px;  	
		height:185px ;
		width: 178px;
	}
		
	#logo a{
		height:185px ;
		width: 178px;
	}
	#addBeer .container{
		padding-top: 10em;
	}
	
	.posInput{
		padding-left: 2em;
	}
}

@media screen and (max-width: 609px){
	.container {
	width: 98%;
	}
	.findBtn{
		width: 9em;
	}
	
}



@media screen and (max-width: 480px){
	#suggestBeer {
	padding: 1em 3em;
	}
	.titles{
		margin-right: 2.0em;
	}

	#registerPage .titles{
		width: 7em;
	}
	
	[role="complementary"] { 
		width: 35%; 
		margin-right: -45%;
	}	
	
	.active .container{
		width: 55%;
	}

	.active #registerPage .titles{
		width: 6em;
	}
	.fields{
		width: 100%;
	}
	
	.active #registerPage .fields input{
		width: 30%;
	}
	
	.active .titles{
		margin: 0;
	}
	
	#logo{
		background-size: 185px 178px;  	
		height:185px ;
		width: 178px;
	}
		
	#logo a{
		height:185px ;
		width: 178px;
	}
	#logoPos{
		padding-left: 2.0em;
		}
}	

@media screen and (max-width: 320px){
	#suggestBeer {
	padding: 1em;
	}
	
	.findBtn {
	width: 8em;
	margin-left: -0.9em;
	}
	
	#headerContent{
		width: 80%;
	}
		
	.promoContent{
	width: 90%;
	}
			
	.btnPos{
		width: 14em;
	}
		
	.reasons{
		width: 80%;
		margin:  0 auto;
	}
		
	.reasons p{
		border: none;	
		width: 50%;
	}
		
	.titles{
		margin-right: 1.0em;
	}
		
	#registerPage .titles{
		width: 6em;
	}
		
	[role="complementary"] { 
		width: 60%; 
		margin-right: -70%;
	}	
		
	.active .container{
		width: 20%;
	}
	
	.fields input{
		width: 47%;
	}
	
	.fields{
		width: 108%;
	}
	
	#logo{
		background-size: 165px 158px;  	
		height:165px ;
		width: 158px;
	}
		
	#logo a{
		height:165px ;
		width: 158px;
	}
	#logoPos{
		padding-left: 1.0em;
		}
}